body{
padding: 0;
margin: 0;
font-size: 16px;
line-height: 1.5;
font-family: "Roboto",sans-serif;
letter-spacing: 0.5px;
width: 100%;

}
.container{
width: 100%;
max-width: 1200px;
padding-left: 20px;
padding-right: 20px;
margin-left: auto;
margin-right: auto;
}
* {
box-sizing: border-box;
}

/* header-top */

.header-top{
	background-color: #272626;
	height: 45px;
	display: flex;
	justify-content: space-between;
	margin: 0;
	align-items: center;
	width: 100%;
}

.contact{
	color: #fff;
}
.contact a{
	color: #fff;
	text-align: center;
	text-decoration: none;
}
.contact ul{
	list-style: none;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.contact li:last-child{
	margin-left: 25px;
}

.contact-link ul{
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin-top: 9px;
	margin-bottom: 8px;
	margin-right: 50px;
}
/* header-logo-nav */
.header-navigation{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 25px;
}
.header-nav ul{
	display: flex;
}

.header-nav li{
	list-style: none;
}
.btn{
	width: 77px;
	height: 32px;
	text-decoration: none;
	text-transform: capitalize;
	font-size: 16px;
	font-weight: 700;
	padding: 11px;
	margin: 8px;
	color: #222;
}
.btn:hover{
	border: 0px solid;
	background-color: #47474756;
	border-radius: 25px;
}

.book-a-table{
	width: 147px;
	height: 48px;
	text-decoration: none;
	border: 2px solid #474747;
	border-radius: 118px;
	align-items: center;
	display: flex;
	justify-content: center;
	font-weight: 700;
	font-size: 18px;
	text-transform: capitalize;
	color: #182226;
	transition: all 0.4s	ease;
}
.book-a-table:hover{
	background-color: #AD343E;
	color: #fff;
}
.book-a-table:active{
	background-color: #AD343E;
}
/* end of header */
/* start of main */
/* organaman */
.section-main{
	height: 100%;
	justify-content: center;
	background:url(./image\ 110.png) ;
	position: relative;
	width: 100%;
	min-height: 80vh;
	display: flex;
	align-items: center;
	background-size:cover;
	background-position: center;
	background-attachment: fixed;
	margin-top: 20px;
}
/* organaman */
.best{
	width: 667px;
	height: 392px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.Best-food-for-your-taste{
	font-size: 75px;
	/* font-style:normal; */
	text-align: center;
	margin: 0px;
}
.best p{
	font-size: 20px;
	display: flex;
	text-align: center;
}
.btn-menu ul{
	display: flex;
	justify-content:space-between;
}
.btn-menu li{
	list-style: none;
	margin-right: 30px;
}
/* .btn-menu li:last-child{
	margin-right: 0px;
} */
/* end of main */

/* start of footer */
footer{
	background-color: #474747;
	height: 678px;
	color: #fff;
	/* display: flex; */
}
.footer{
	display: flex;
	margin: 20px 52px 5px;
	align-items:flex-start;
	margin-bottom:130px ;
}
.footer-logo{
	margin-bottom: 30px;
}
.footer-p{
	font-size: 16px;
	margin-bottom: 30px;
	color: #ADB29E;
}
.footer-contact-link ul{
	display: flex;
	justify-content:space-between;
	margin-left: -40px;
}
.footer-contact-link li{
	list-style:none ;
}
.footer2{
	padding-left: 60px;
	text-align: start;
	align-items: start;
}
.footer2 li{
	list-style: none;
	margin-bottom: 20px;
}
.footer2 a{
	color: #fff;
	text-decoration: none;
	text-transform: capitalize;
	color: #ADB29E;
	font-size: 16px;

}
.footer2 h2{
	text-transform: capitalize;
	font-size: 16px;
	margin-left: 35px;
	margin-bottom: 40px;
}
.footer3{
	padding-left: 60px;
	text-align: start;
	align-items: start;
}
.footer3 li{
	list-style: none;
	margin-bottom: 20px;
}
.footer3 a{
	color: #fff;
	text-decoration: none;
	text-transform: capitalize;
	color: #ADB29E;
	font-size: 16px;

}
.footer3 h2{
	text-transform: capitalize;
	font-size: 16px;
	margin-left: 35px;
	margin-bottom: 40px;
}
.footer4{
	padding-left: 70px;
	text-align: start;
	align-items: start;
}
.footer4 img{
	padding: 10px;
}
footer span{
	font-size: 16px;
	color: #ADB29E;
	display: flex;
	justify-content: center;
}
.footer-hr{
	color: #414536;
	width: 1000px;
	margin-bottom: 30px;
}




/* css about */
/* start of about section  */
.about-section{
	display:flex;
	text-align: start;
	justify-content: space-between;
	margin-top: 25px;
}
.about-card{
	position: relative;
	background-color: #474747;
	width: 411px;
	height: 321px;
	border-radius: 20px;
	margin-left: 238px;
	margin-top: -280px;
	text-align:left;
}
.card-card{
	padding:50px;
	color: #fff;
}
.card-card ul{
	padding-left: 0px;
}
.card-card img{
	padding-right: 15px;
}
.card-card li{
	list-style: none;
	margin-bottom: 25px;
}
.card-card a{
	color: #fff;
	text-decoration: none;
	list-style: none;
}
.about-content{
width: 457px;
height: 353px;
margin-top: 71px;
}
.about-content p{
	font-size: 18px;
	line-height: 1x;
}
/* end of about section  */


/* start of menu section header */
.menu-header{
margin: 85px 300px;
}
.menu-text{
	width: 557px;
	height: 172px;
	display: inline	;
	justify-content: center;
	text-align: center;
}
.menu-text h1{
	font-size: 60px;
}
.menu-text p{
	font-size: 18px;
}
.menu-nav-btn ul{
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding-left: 0px;
	display: flex;
	justify-content: center;
}
.menu-nav-btn li{
	padding-right: 15px;
}
.about-btn{
	color: #222;
	font-weight: bold;
	text-decoration: none;
	border: 2px solid #474747;
	border-radius: 118px;
	width: 140px;
	height: 48px;
	align-items: center;
	display: flex;
	justify-content: center;
	font-size: 16px;
	transition: all 0.4s	ease;
}
.about-btn:hover{
	background-color: #474747;
	color: #ffffff;
}
.about-btn:active{
	background-color: #AD343E;
	color: #fff;
}
/* end of menu sektion header  */

/* start of menu card  */
.menu-card{
	display: flex;
	justify-content:center;
	flex-direction: row;
	flex-wrap: wrap;
}
.card1{
	width: 260px;
	height: 428px;
	text-align: center;
	margin: 10px;
	border: 1px solid #DBDFD0;
	border-radius: 12px;
}
.card1 h2{
	color: #AD343E;
}
.card1 h3{
	tab-size: 20px;
	font-weight: bold;
}
.card1 p{
	font-size: 16px;
}
/* end of menu card  */

/* start of pages */
.pages-text{
	text-align: center;
}
.pages-text h1{
	font-size: 70px;
	margin-bottom: 0px;
}
.pages-text p{
	font-size: 18px;
}
/* start of pages card  */
.pages-card{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.pages-card-link{
	width: 260px;
	height: 340px;
	margin: 15px;
	border: 1px solid #474747;
	border-radius: 18px;
	text-align: start;
}
.pages-card-link p{
	font-size: 14px;
	color: #737865;
	padding-left: 15px;
}
.pages-card-link h2{
	font-size: 20px;
	padding-left: 15px;
}


/* start of contact */
.contact-section{
	display:flex;
	justify-content:center;
	align-items: center;
	margin: 0;
}
.contact-text{
	text-align: center;
	color: #474747;
}
.contact-text h1{
	font-size: 70px;
}
.contact-text p{
	font-size: 18px;
	text-align: center;
}
.contact-card{
	margin: 50px 400px;
	width: 697px;
	height: 608px;
	border: 1px solid #474747;
	box-shadow: 0 15px 15px 10px  rgba(0,0,0,0.3) ;
	border-radius: 18px;
	padding:30px ;
}
.contact-card-info{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 15px;
}
.contact-card-name{
	color: #222;
}
.contact-card-email{
	color: #222;
}
.contact-card-info input{
	width: 250px;
	height: 60px;
	border-radius: 30px;
}
.contact-card-info label{
	display: flex;
	justify-content: space-between;
	padding: 15px 0px;
}
.contact-card-subject input{
width: 617px;
height: 60px;
border-radius: 30px;
}
.contact-card-subject{
	color: #222;
}
.contact-card-subject label{
	display: flex;
	justify-content: space-between;
	padding: 15px 0px;
}
.contact-card-message label{
	color: #222;
	display: flex;
	justify-content: space-between;
	padding:15px 0px;
}
.contact-card-message input{
	width: 617px;
	height: 158px;
	border-radius: 30px;

}
.contact-btn a{
	color: #222;
}
.contact-btn{
	width: 617px;
	height: 64px;
	border: 1px solid #474747;
	border-radius: 30px;
	align-items: center;
	display: flex;
	justify-content: center;
	font-size: 18px;
	margin: 30px 0px;
	transition: all 0.4s	ease;
}
.contact-btn:hover{
	background-color: #AD343E;
	color: #fff;
}
.contact-info{
	width: 617px;
	color: #222;
	display: flex;
	/* align-items: center; */
	justify-content: space-between;
	text-align: start;
	margin-left: 430px;
}
.contact-info h2{
	font-size: 20px;
	font-weight: bold;
}
.contact-info h3{
	color: #AD343E;
	font-size: 20px;
}
.contact-info p{
	font-size: 18px;
}